 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }

 h1 {
   color: #fff;
 }

 img {
   display: block;
   width: 100%;
 }

 section {
   width: 100%;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
 }

 section>div {
   width: 32%;
   height: 22vw;
   overflow: hidden;
   margin-bottom: 2vw;
   border-bottom: 1vw solid #d5d6d0;
   position: relative;
   background-color: #fff;
 }

 section div img {
   transition: opacity 0.2s linear;
 }

 section div:hover {
   z-index: 99;
 }

 section div:hover img {
   opacity: 0.6;
 }

 .box1 {
   transition: transform 0.2s linear;
 }

 .box1:hover {
   transform: translateX(5vw);
 }

 h1 {
   font-size: 2vw;
   position: absolute;
   top: 3vw;
   left: 3vw;
   transition: left 2.5s ease-out;
 }

 .box1:hover h1 {
   left: 8vw;
 }

 .box1 p {
   position: absolute;
   width: 6vw;
   font-size: 1vw;
   background-color: blue;
   transition: left 0.1s linear, bottom 0.1s linear;
 }

 .box1 p:nth-of-type(1) {
   left: 5vw;
   bottom: -6vw;
 }

 .box1:hover p:nth-of-type(1) {
   bottom: 9vw;
 }

 .box1 p:nth-of-type(2) {
   bottom: 5vw;
   left: -10vw;
 }

 .box1:hover p:nth-of-type(2) {
   left: 5vw;
 }

 .box1 p:nth-of-type(3) {
   bottom: 7vw;
   left: 35vw;
 }

 .box1:hover p:nth-of-type(3) {
   left: 5vw;
 }

 .box2 {
   transition: transform 0.2s linear;
 }

 .box2:hover {
   transform: translateX(-5vw);
 }

 .box2 p {
   position: absolute;
   font-size: 0.7vw;
   left: -15vw;
   background-color: #fff;
 }

 .box2 p:nth-of-type(1) {
   top: 9vw;
   transition: left 0.2s ease-out;
 }


 .box2 p:nth-of-type(2) {
   top: 11vw;
   transition: left 0.2s ease-out 0.1s;
 }

 .box2 p:nth-of-type(3) {
   top: 13vw;
   transition: left 0.2s ease-out 0.2s;
 }

 .box2:hover p {
   left: 3vw;
 }

 .box3 img {
   transition: transform 0.2s linear;
 }

 .box3:hover img {
   transform: translateY(-2vw);
 }

 .box3 h1 {
   position: absolute;
   top: -8vw;
   transition: top 1.6s ease-out;
 }

 .box3:hover h1 {
   top: 5vw;
 }

 .box3 p {
   position: absolute;
   left: 3vw;
   bottom: -10vw;
   font-size: 1vw;
   transition: all 1.6s ease-out;
 }

 .box3:hover p {
   bottom: 5vw;
 }

 .box4 h1 {
   opacity: 0;
   top: 6vw;
   transition: all 1.3s linear;
 }

 .box4:hover h1 {
   opacity: 1;
   top: 3vw;
 }

 .box4 p {
   position: absolute;
   bottom: -2vw;
   right: 0;
   font-size: 1vw;
   transition: all 1.3s linear;
 }

 .box4:hover p {
   bottom: 5vw;
 }

 .box4 .he {
   width: 100vw;
   height: 30vw;
   background-color: #fff;
   transform-origin: 0 0;
   position: absolute;
   bottom: -30vw;
   transition: all 1.3s linear;
 }

 .box4:hover .he {
   background-color: #6495ed;
   transform: rotate(-24deg);
 }

 .box5 h1 {
   transition: all 2.5s ease-out;
 }

 .box5:hover h1 {
   left: 7vw;
 }

 .box5 p {
   width: 27vw;
   position: absolute;
   left: 2vw;
   top: 15vw;
   font-size: 1vw;
   opacity: 0;
   transition: all 2.5s ease-out;
 }

 .box5:hover p {
   opacity: 1;
   top: 6vw;
 }

 .box5 .he {
   width: 28vw;
   height: 15vw;
   border: 0.2vw solid black;
   position: absolute;
   top: -16vw;
   left: 8vw;
   transition: all 2.5s ease-out;
   transform-origin: 0 0;
 }

 .box5:hover .he {
   transform: rotate(360deg) translate(-7vw, 17vw);
 }

 .box6 img {
   transition: all 1.5s linear;
 }

 .box6:hover img {
   transform: scale(1.3);
 }

 .box6 h1 {
   color: #000;
   font-size: 1.5vw;
   left: 15vw;
   top: 10vw;
   transition: all 1.5s ease-out;
 }

 .box6:hover h1 {
   transform: rotate(320deg);
 }

 .box7 {
   transition: all 1s linear;
 }

 .box7:hover {
   transform: scale(0.7);
 }

 .box8 h1 {
   opacity: 0;
   position: absolute;
   top: 25vw;
   left: 20vw;
   color: #000;
   font-size: 1.5vw;
   transition: all 3s ease-out;
 }

 .box8:hover h1 {
   opacity: 1;
   top: -10vw;
   transform: rotate(360deg) translateY(20vw);
 }

 .box8 div.a1 {
   width: 0.1vw;
   height: 0;
   background-color: #fff;
   transition: all 3s ease-out;
 }

 .box8 div.a2 {
   width: 0;
   height: 0.1vw;
   background-color: #fff;
   transition: all 2s ease-out;
 }

 .box8:hover div.a1 {
   height: 16vw;
 }

 .box8:hover div.a2 {
   width: 16vw;
 }

 .box8 .a1 {
   position: absolute;
   top: 3vw;
   left: 9vw;
 }

 .box8 .a1:nth-of-type(1) {
   left: 21vw;
 }

 .box8 .a2 {
   position: absolute;
   left: 7vw;
   top: 5vw;
 }


 .box8 :last-child {
   top: 17vw;
 }

 .box9 img {
   transition: all 1.5s linear;
 }

 .box9:hover img {
   transform: rotate(10deg) scale(1.1);
 }