.order-page {
  padding: 0 5px;
  display: flex;
  flex-direction: column;
}

.order-page > header {
  display: flex;
  padding: 5px;
}

.order-page > header > .tabs {
  display: flex;
}

.order-page > header > .tabs > div {
  padding: 5px;
  font-size: 25px;
  color: #ccc;
}

.order-page > header > .SearchBar {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: right;
}

.order-page > .location {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.order-page > .location > div {
  display: flex;
  flex-direction: column;
  height: 95px;
}

.order-page > .location > div > div {
  flex: 1;
  display: flex;
}

.order-page > .location > div > div > :nth-child(1) {
  padding: 0 10px;
  display: flex;
  align-items: center;
}

.order-page > .location > div > div > :nth-child(2) {
  padding: 5px;
}

.order-page > .location > div > :nth-child(1) {
  font-weight: bold;
  font-size: 22px;
  color: #000;
}

.order-page > .location > div > :nth-child(2) {
  color: #ccc;
  font-size: 16px;
}

.order-page > .location > div > :nth-child(3) {
  color: red;
}

.order-page > .location > div > :nth-child(3) > :last-child {
  flex: 1;
  text-align: right;
  padding: 5px 10px;
  color: #ccc;
}

.order-page > .main {
  height: calc(100vh - 287px);
  overflow: auto;
}
