.serve-page-main {
  display: flex;
  flex-direction: column;
  padding: 20px 0 100px;
  justify-content: space-evenly;
}

.serve-page-main > div {
  width: 100%;
  position: relative;
}

.serve-page-main > div:nth-child(2n + 1) {
  display: flex;
  justify-content: space-between;
}

.serve-page-main > div:nth-child(2n + 1) > div {
  width: 530px;
  height: 320px;
  position: relative;
  overflow: hidden;
}

.serve-page-main > div:nth-child(2n + 1) > div:hover .content {
  top: 0;
}

.serve-page-main > div:nth-child(2n + 1) > div > .content {
  width: 100%;
  height: 300%;
  background-color: rgba(255, 255, 255, 0.385);
  position: absolute;
  top: -150px;
  transition: top 0.5s linear;
}

.serve-page-main > div:nth-child(2n + 1) > div > .content > h1 {
  text-align: center;
}

.serve-page-main > div:nth-child(2n + 1) > div > .content > p {
  margin-top: 10px;
  line-height: 25px;
  text-indent: 2em;
}

.serve-page-main > div:nth-child(2n + 1) > :first-child {
  background: url("../../assets/18.jpg") no-repeat center center;
  background-size: cover;
}

.serve-page-main > div:nth-child(2n + 1) > :last-child {
  background: url("../../assets/18.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  top: 240px;
}

.serve-page-main > div:nth-child(2n) {
  height: 160px;
  background-color: rgba(255, 192, 203, 0);
}
