.indent-page {
  height: 100%;
}

.indent-page > .swiper {
  height: calc(100vh - 137px);
}

.indent-page .SwiperItem {
  height: calc(100vh - 137px);
  padding: 13px;
  background-color: aliceblue;
}
