@import "页面基础样式";

section {
  height: 200px;
  background-image: url(../img/bg.png);

  .box {
    @include tongLan(1139px, 200px);
    padding-top: 67px;

    :first-child {
      line-height: 24px;
      font-size: 24px;
      color: #fff;
      margin-bottom: 25px;

      >span {
        font-size: 15px;
        color: #fcb5b1;
      }
    }

    :last-child {
      font-size: 12px;
      color: #ffb4b1;

      >span {
        color: #fffffd;
      }
    }
  }
}

main {
  color: #666465;

  .nav {
    height: 62px;
    background-color: #f7f7f7;
    margin-bottom: 30px;

    nav {
      @include tongLan(1139px, 62px);

      ul {
        float: right;
        font-size: 14px;

        li {
          line-height: 62px;
          display: inline-block;
          margin: 0 13px;

          a {
            color: #666563;

            &:hover {
              color: red;
            }
          }
        }
      }
    }
  }

  .img {
    height: 300px;
    background-image: url(https://pic1.zhimg.com/50/v2-c86255caadb749362dd2393bf1f5d27d_hd.jpg);
    background-size: 100px 100px;
    animation: 1s move linear infinite;
  }
}

@keyframes move {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -100px 0;
  }
}